@model Entities.ValueObjects.RegisterVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>MyInstagram'a Hoşgeldiniz</title>
    <link href="~/Content/bootstrap/MyCssCodes/Register.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            @Html.Partial("_Login&RegisterPV")
            <!---- Register ---->
            <div class="col-lg-6" id="Register">
                <div class="container box">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">MyInstagram</div>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Register", "Anasayfa", FormMethod.Post))
                            {
                                <div class="textbox">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control",
                                   placeholder = "Ad",
                                   style = "background-color:#f4f7e6;" +
                                   "border-radius:5px"
                               })
                                </div>
                                <div class="textbox">
                                    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control",
                                   placeholder = "Soyad",
                                   style = "background-color:#f4f7e6;" +
                                   "border-radius:5px"
                               })
                                </div>
                                <div class="textbox">
                                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control",
                                   placeholder = "Kullanıcı Adı",
                                   style = "background-color:#f4f7e6;" +
                                   "border-radius:5px"
                               })
                                </div>
                                <div class="textbox">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control",
                                   placeholder = "E-mail",
                                   style = "background-color:#f4f7e6;" +
                                   "border-radius:5px"
                               })
                                </div>
                                <div class="textbox">
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control",
                                   placeholder = "Şifre",
                                   style = "background-color:#f4f7e6;" +
                                   "border-radius:5px" })
                                </div>
                                <div class="textbox">
                                    @Html.PasswordFor(x => x.RePassword, new { @class = "form-control",
                                   placeholder = "Şifre Tekrar",
                                   style = "background-color:#f4f7e6;" +
                                   "border-radius:5px" })
                                </div>
                                <button type="submit" class="btn btn-block">Kaydol</button>
                            }
                            <hr />
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body text-center">
                            <p>Hesabın var mı ? <a href="/Anasayfa/Login">Giriş Yap</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["NewUser"] != null || TempData["InUseUser"] != null)
    {
        <div class="modal" role="dialog">
            <div class="modal-content">
                <hr />
                <span class="close">&times;</span>
                <div class="text-center alert alert-@TempData["Result"]">@TempData["NewUser"] @TempData["InUseUser"]</div>
                <hr />
                <button type="button" class="btn-block btn-@TempData["Result"]" onclick="location.href='/Anasayfa/Login'">Giriş Yap</button>
            </div>
        </div>
    }

    <script>
        $(document).ready(function () {
            $(".modal").css('display', 'block');
        });


        document.getElementsByClassName("close")[0].addEventListener("click", function () {
            $(".modal").css('display', 'none');
        });
    </script>
</body>
</html>
